div#video_player_box{ width:1000px; height:581px; background:#666; margin:0px auto;}
div#video_controls_bar{ background: #333; padding:2px; color:#CCC; font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}
button#playpausebtn{
	background: url(pause.png);
	border: none;
	width: 25px;
	height: 25px;
	cursor: pointer;
	opacity: 0.6;
	box-shadow: 0 0 0 0;
	border: 0 none;
	outline: 0;
	position: absolute;
	left: 12px;
	top: 7px;
}

button#playpausebtn:hover{ opacity:1; }
input#seekslider{
	width: 680px;
	box-shadow: 0 0 0 0;
	border: 0 none;
	outline: 0;
	position: absolute;
	left: 45px;
	top: 17px;
}
input#volumeslider{
	width: 80px;
	box-shadow: 0 0 0 0;
	border: 0 none;
	outline: 0;
	position: absolute;
	left: 871px;
	top: 17px;
	}
input[type='range'] {
    -webkit-appearance: none !important;
    background: #000;
	border:#666 1px solid;
    height:4px;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background: #CCC;
    height:15px;
    width:15px;
	border-radius:100%;
	cursor:pointer;
}
button#mutebtn {
	background: url(531928.png);
	border: none;
	width: 25px;
	height: 25px;
	cursor: pointer;
	opacity: 0.6;
	box-shadow: 0 0 0 0;
	border: 0 none;
	outline: 0;
	position: absolute;
	left: 841px;
	top: 7px;
}
button#fullscreenbtn {
	background: url(icon-fullscreen.png);
	border: none;
	width: 25px;
	height: 25px;
	cursor: pointer;
	opacity: 0.6;
	box-shadow: 0 0 0 0;
	border: 0 none;
	outline: 0;
	position: absolute;
	left: 968px;
	top: 10px;
}
body {
	width: 100%;
	height: 50px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	background:#000;
}
#video_controls_bar {
	width: 1000px;
	height: 36px;
	position: relative;
	border: #FFF;
	margin: inherit;
	margin: 20px;
	top: -41px;
	left: -23px;
	padding: 2px;
	line-height: 20px;
	background: #333;
	color: #fff;
	display: block;
	width: 1001px;
	opacity: 0;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
	
}
#video_controls_bar:hover  {
      opacity: 1;
}
#durtimetext {
	position: absolute;
	left: 785px;
	top: 9px;
}
#curtimetext{
	position: absolute;
	left: 737px;
	top: 9px;
}
#lado {
	position: absolute;
	left: 777px;
	top: 10px;
}
#papai {
	width: 346px;
	height: 0px;
	position: absolute;
	left: 462px;
	top: 50px;
	font: Arial, Helvetica, sans-serif;
	font-size: 24px;
	background: #F3F;
	color: #000;
}
#logo {
	width: 141px;
	height: 13px;
	position: absolute;
	left: 413px;
	top: 319px;
}
#mouse {
	width: 200px;
	height: 100px;
	fonte-size: 16px;
	background: #333;
	position: absolute;
	top: 0px;
	left: 7px;
	line-height: 100px;
}
#comentario {
 position:absolute; top:-80px;
 left:170px;
 padding:2px;
 line-height:20px;
 background:#333;
 color:#fff;
 display: block;
 width:120px;
 opacity: 0;

        -webkit-transition: all 300ms ease;
 -moz-transition: all 300ms ease;
 -ms-transition: all 300ms ease;
 -o-transition: all 300ms ease;
 transition: all 300ms ease;
}
#mouse:hover  #comentario{
      opacity: 1;
}
#mouse {
	width: 30px;
	height: 24px;
	fonte-size: 16px;
	background: #333;
	position: absolute;
	top: 0;
	left: 150px;
	line-height: 100px;
}
#comentario {
	position: absolute;
	top: 0px;
	left: 34px;
	padding: 2px;
	line-height: 20px;
	background: #333;
	color: #fff;
	display: block;
	width: 698px;
	opacity: 0;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
#mouse:hover  #comentario{
      opacity: 1;
}
* {
margin:0;
padding:0;
list-style:none;
vertical-align:baseline;
}